.avatar{
    width: 3rem;/* calc(3rem + 12 px)*/
    height: 3rem;/* calc(3rem + 12 px)*/
    border-radius: 8px;
}

.avatarWithBorder{
    width: 3rem;/* calc(3rem + 12 px)*/
    height: 3rem;/* calc(3rem + 12 px)*/
    border-radius: 8px;
    border: 4px solid var(--gray-800);
    outline: 2px solid var(--green-500);
}